<head>
	<style>
		.icons{
			font-size: 1.5rem;
		}
		.icons a{
			margin-right: 0.2rem;
		}
	</style>
</head>
<div class="icons">
	{% if informations.github_link != '' and informations.github_link%}
	   <a class="icon" target="_blank" href={{informations.github_link}}>
			  <i class="fa fa fa-github"></i>
	  </a>
	 {% endif %}
	 {% if informations.gitlab_link != '' and informations.gitlab_link%}
	  <a class="icon" target="_blank" href={{informations.gitlab_link}}>
			  <i class="fa fa fa-gitlab"></i>
	  </a>
	  {%endif%}
	  {% if informations.linkedin_link != '' and informations.linkedin_link%}
	  <a class="icon" target="_blank" href={{informations.linkedin_link}}>
			  <i class="fa fa fa-linkedin"></i>
	  </a>
	  {%endif%}
	  {% if informations.facebook_link != '' and informations.facebook_link%}
	  <a class="icon" target="_blank" href={{informations.facebook_link}}>
			  <i class="fa fa fa-facebook"></i>
	  </a>
	  {%endif%}
	   {% if informations.instagram_link != '' and informations.instagram_link%}
	  <a class="icon" target="_blank" href={{informations.instagram_link}}>
			  <i class="fa fa fa-instagram"></i>
	  </a>
	  {%endif%}
	  {% if informations.twitter_link != '' and informations.twitter_link%}
	  <a class="icon" target="_blank" href={{informations.twitter_link}}>
			  <i class="fa fa fa-twitter"></i>
	  </a>
	  {%endif%}
	  {% if informations.youtube_link != '' and informations.youtube_link%}
	  <a class="icon" target="_blank" href={{informations.youtube_link}}>
			  <i class="fa fa fa fa-youtube-play"></i>
	  </a>
	  {%endif%}
  <div>