<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{article.title}}</title>
</head>
{% include "./header.html" %}
<div class="container">
 <div class="is-centerd is-multiline">

    
            <div class="column is-full">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content" style="text-align:center">
                                <p class="title is-4">{{article.title}}</p>
                            </div>
                        </div>
                       <div style="text-align:center">
                       {% for tag in article.tags.all %}
                        <a href="/tag/{{tag.id}}" class="tag">{{tag}}</a>
                        {%endfor%} 
                        </div>
                        <div class="content" style="margin-top:1rem">{{article.content | safe}}
                        </div>
                </div>
            </div>
            </div>
    </div>
    </div>