<head>
<title>{{article.title}}</title>

{% if article.description %}
  <meta name="description" property="og:description" content="{{article.description}}">
{% endif %}
{% if article.keywords %}
  <meta name="keywords" content="{{article.keywords}}">
{% endif %}
{% if article.author %}
  <meta name="author" content="{{article.author}}">
{% endif %}
<!--Social media seo-->
{% if article.social_media_site_name %}
  <meta property="og:title" content="{{article.social_media_site_name}}" />
{% endif %}
{% if article.social_media_url %}
  <meta property="og:url" content="{{article.social_media_url}}">
{% endif %}
{% if article.social_media_type %}
  <meta property="og:type" content="{{article.social_media_type}}">
{% endif %}
{% if article.social_media_image %}
  <meta property="og:image" content="{{article.social_media_image}}" />
{% endif %}

</head>
{% include "./header.html" %}
<div class="container">
 <div class="is-centerd is-multiline">

    
            <div class="column is-full">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content" style="text-align:center">
                                <p class="title is-4">{{article.title}}</p>
                                <span class="subtitle">{{article.created_date}}</span>
                                {%if article.created_date != article.updated_on%}
                                <p class="subtitle is-6">Last updated: {{article.updated_on}}</p>
                                {%endif%}
                            </div>
                        </div>
                       <div style="text-align:center">
                       {% for tag in article.tags.all %}
                        <a href="/blog/tag/{{tag.id}}" class="tag">{{tag}}</a>
                        {%endfor%} 
                        </div>
                        <hr>
                        <div class="content" style="margin-top:1rem">{{article.content | safe}}
                        </div>
                </div>
            </div>
            </div>
    </div>
    </div>


    {% include "./footer.html" %}