<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{tab_name}}</title>
</head>
<body>
    <div class="columns">

        {% for article in articles %}
    
            <div class="column is-one-third">
                <div class="card">
                   <div class="card-image">
                        <figure class="image is-4by3">
                        <!--@ToDo fix the image path-->
                        <img src="{{article.image.name}}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{article.title}}</p>
                                <p class="subtitle is-6">{{article.author.first_name}} {{article.author.last_name}}</p>
                            </div>
                        </div>
                        <div class="content">{{article.description | safe}}
                        <br>
                        <time>{{article.created_date}}</time>
                        <br>
                        <a href="article/{{article.id}}">Read More</a>
                        </div>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
</body>
