<head>
<title>Index</title>
</head>



<section class="hero is-fullheight is-link">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header>
     {% include "./header.html" %}
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-left">
    Hello i am
      <p class="title">
        Ioannis Apostolou
      </p>
      <p class="subtitle">
        And i don't know about design
      </p>
    </div>
  </div>
</section>
<br>
<section class="container has-text-centered">
<h1 class="title">About me</h1>
<h2 class="subtitle">Subtitle</h2>
<p>
Tempor quis Lorem in amet. Veniam aliquip magna eu in amet reprehenderit velit consequat. Aliquip officia excepteur id deserunt magna elit laborum dolore sunt consectetur aliqua. Occaecat quis elit tempor nisi eiusmod non magna reprehenderit nostrud consectetur excepteur. Tempor culpa officia esse pariatur in tempor culpa consequat sit ut dolore deserunt ad. Eiusmod aute occaecat cupidatat laborum pariatur Lorem incididunt amet et reprehenderit.

Cillum incididunt culpa mollit occaecat sit amet labore enim aute tempor magna irure et laborum. Magna anim sit consequat reprehenderit. Labore cupidatat proident aliquip non sunt. Nulla Lorem commodo quis qui ex voluptate do aliquip. Cillum labore sint amet quis exercitation exercitation consequat eiusmod. Sit adipisicing amet incididunt culpa fugiat in. Aliqua cillum duis reprehenderit tempor esse exercitation ipsum dolore.

Veniam nostrud nisi quis commodo nulla voluptate aute qui non ex et consectetur irure eiusmod. Nostrud eiusmod et laborum sit consectetur. Cupidatat officia tempor pariatur proident tempor reprehenderit aliquip adipisicing do. Eiusmod ad quis occaecat sint ut exercitation occaecat reprehenderit exercitation.</p>

</section>

<br>
<section>
<section class="container has-text-centered">
<h1 class="title">Skills</h1>
<h2 class="subtitle">Subtitle</h2>
</section>
<br>
<div class="container">
    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="box">
            hello
            </div>
        </div>

         <div class="column is-half">
            <div class="box">
            hello
            </div>
        </div>

         <div class="column is-half">
            <div class="box">
            hello
            </div>
        </div>


         <div class="column is-half">
            <div class="box">
            hello
            </div>
        </div>
        
    </div>
</div>

</section>


<br>
<section class="container">
<section  class="has-text-centered">
<h1 class="title">Projects</h1>
<h2 class="subtitle">Subtitle</h2>
</section>
<br>
    <div class="columns is-multiline">

    <div class="column">
    <div class="card">
    <p class="card-header-title">
      Project name
    </p>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">See project</a>
  </footer>
</div>
</div>

    <div class="column">
    <div class="card">
    <p class="card-header-title">
      Project name
    </p>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">See project</a>
  </footer>
</div>
</div>

    <div class="column">
    <div class="card">
    <p class="card-header-title">
      Project names
    </p>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">See project</a>
  </footer>
</div>
</div>

</div>




</section>  

{% include "./footer.html" %}
