<div class="container">
 <div class="is-centerd is-multiline">
        {% for article in articles %}
    
            <div class="column is-full">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{article.title}}</p>
                            </div>
                        </div>
                       
                       {% for tag in article.tags.all %}
                        <a href="/blog/tag/{{tag.id}}" class="tag">{{tag}}</a>
                        {%endfor%} 
                        <div class="content" style="margin-top:1rem">{{article.description | safe}}
                        <br>

                        <time><b>{{article.created_date}}</b></time>
                        <br>
                        <a href="/blog/article/{{article.id}}">Read More</a>
                        </div>
                </div>
            </div>
            </div>
        {% empty %}
           {% include '404_card.html' %}
        {% endfor %}

        <div class="buttons has-addons is-centered">
            {%if articles.has_previous%}
            <a href="/blog/{{articles.previous_page_number }}/" class="button">Previous Page</a>
            {%endif%}
            {%if articles.has_next%}
            <a href="/blog/{{articles.next_page_number }}/" class="button">Next Page</a>
            {%endif%}
          </div>
    </div>
    </div>