<div class="container">
 <div class="is-centerd is-multiline">

        {% for article in articles %}
    
            <div class="column is-full">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{article.title}}</p>
                            </div>
                        </div>
                       
                       {% for tag in article.tags.all %}
                        <a href="/tag/{{tag.id}}" class="tag">{{tag}}</a>
                        {%endfor%} 
                        <div class="content" style="margin-top:1rem">{{article.description | safe}}
                        <br>

                        <time><b>{{article.created_date}}</b></time>
                        <br>
                        <a href="/article/{{article.id}}">Read More</a>
                        </div>
                </div>
            </div>
            </div>
        {% empty %}
           {% include '404_card.html' %}
        {% endfor %}
    </div>
    </div>