<head>
<title>{{informations.name}}</title>


{% if seo.description %}
  <meta name="description" property="og:description" content="{{seo.description}}">
{% endif %}
{% if seo.keywords %}
  <meta name="keywords" content="{{seo.keywords}}">
{% endif %}
{% if seo.author %}
  <meta name="author" content="{{seo.author}}">
{% endif %}
<!--Social media seo-->
{% if seo.social_media_site_name %}
  <meta property="og:title" content="{{social_media_site_name}}" />
{% endif %}
{% if seo.social_media_url %}
  <meta property="og:url" content="{{seo.social_media_url}}">
{% endif %}
{% if seo.social_media_type %}
  <meta property="og:type" content="{{social_media_type}}">
{% endif %}
{% if seo.social_media_image %}
  <meta property="og:image" content="{{social_media_image}}" />
{% endif %}

</head>


{% if informations.theme %}
<section class="hero is-halfheight is-{{informations.theme}}">
{% else %}
<section class="hero is-halfheight is-info"></section>
{% endif %}
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header>
     {% include "./header.html" %}
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-left">
      {% if informations.name %}
      <p class="title">
       {{informations.name}}
      </p>
      {% endif %}
      {% if informations.subtitle_name %}
        <p id ="header-subtitle" class="subtitle">{{informations.subtitle_name}}</p>
      {% endif %}
      {% include "./socialMedia.html" %}
    </div>
  </div>
</section>
<br>
<section class="container has-text-centered">
<h2 class="title">About me</h2>
{% if informations.summary %}
  <p>{{informations.summary}}</p>
{% endif %}

</section>

<br>

<section class="container">
  <h2 class="title has-text-centered">My journey</h2>
 
{% for journey in journeys %}
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">{{journey.title}}</p>
          <p class="subtitle is-6">{{journey.organization}}</p>
        </div>
      </div>

      <div class="content">
        {{journey.description}}
        <br>
        {%if journey.until_present_to_date%}
        <time datetime="2016-1-1">{{ journey.from_date }} - Present</time>
        {%else%}
        <time datetime="2016-1-1">{{ journey.from_date }} - {{ journey.to_date }}</time>
        {%endif%}
      </div>
    </div>
  </div>  
</br>
{%endfor%}

</section>
<br>
<section class="container has-text-centered">
<h2 class="title">Skills</h2>
</section>
<br>
<div class="container">
    <div class="columns is-multiline is-centered">
    {% for skill in skills %}
        <div class="column is-4">
            <div class="box">
           {{skill.name}}
            </div>
        </div>
    {%endfor %}
         
        
    </div>
</div>

</section>


<br>
<section class="container">
<section  class="has-text-centered">
<h2 class="title">Projects</h2>
</section>
<br>
    <div class="columns is-multiline is-centered">
{% for project in projects %}
    <div class="column is-half">
      <div class="card">
        <p class="card-header-title">
          {{project.name}}
        </p>
  <div class="card-content">
    <div class="content">
      {{project.context}}
    </div>
  </div>
 
  

   {% if project.project_link  or project.article_link %}
    <footer class="card-footer">
      {% if project.project_link %}
        <a target="_blank" href="{{project.project_link}}" class="card-footer-item">Project</a>
      {% endif %}

      {% if project.article_link %}
        <a target="_blank" href="{{project.article_link}}" class="card-footer-item">Article</a>
      {% endif %}
    </footer>
  {%endif%}


  
</div>
</div>

{%endfor%}

</div>

</section>  

{% include "./footer.html" %}
