<head>
<title>{{informations.name}}</title>

<style>
@media only screen and (min-width: 769px) {
 /* https://bulma.io/documentation/overview/responsiveness/ */
  .card{
    height: 100%;
  }
}

</style>

</head>



<section class="hero is-halfheight is-link">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header>
     {% include "./header.html" %}
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-left">
      <p class="title">
       {{informations.name}}
      </p>
      <p id ="header-subtitle" class="subtitle">{{informations.subtitle_name}}</p>
    </div>
  </div>
</section>
<br>
<section class="container has-text-centered">
<h1 class="title">About me</h1>
<p>{{informations.summary}}</p>

</section>

<br>
<section>
<section class="container has-text-centered">
<h1 class="title">Skills</h1>
</section>
<br>
<div class="container">
    <div class="columns is-multiline is-centered">
    {% for skill in skills %}
        <div class="column is-half">
            <div class="box">
           {{skill.name}}
            </div>
        </div>
    {%endfor %}
         
        
    </div>
</div>

</section>


<br>
<section class="container">
<section  class="has-text-centered">
<h1 class="title">Projects</h1>
</section>
<br>
    <div class="columns is-multiline is-centered">

{% for project in projects %}
    <div class="column is-one-quarter">
      <div class="card">
        <p class="card-header-title">
          {{project.name}}
        </p>
  <div class="card-content">
    <div class="content">
      {{project.context}}
    </div>
  </div>
 
  

   {% if project.project_link  or project.article_link %}
    <footer class="card-footer">
      {% if project.project_link %}
        <a target="_blank" href="{{project.project_link}}" class="card-footer-item">Project</a>
      {% endif %}

      {% if project.article_link %}
        <a target="_blank" href="{{project.article_link}}" class="card-footer-item">Article</a>
      {% endif %}
    </footer>
  {%endif%}


  
</div>
</div>

{%endfor%}


</section>  

{% include "./footer.html" %}
